[flake8]
exclude =
    {{cookiecutter.project_slug}}
    .tox
max_line_length = 100
per-file-ignores =
    # Sample code from Sphinx uses no-space comment to show
    # distinction between sample code and comments about it...which
    # affects indentation when in a multi-line literal dictionary
    docs/conf.py:E265,E122
    # Not too worried about docstrings in post-gen:
    #
    # D103: Missing docstring in public function
    # D100: Missing docstring
    hooks/post_gen_project.py:D103,D100
application-import-names = tests
import-order-style = google
# we use flake8-import-order, not flake8-isort
ignore = I001
